.profilecomponent{
    width: 100vw;
    height: 94vh;
    background-color: var(--bg3);
    display: flex;
    flex-direction: row;
    position: sticky;
    overflow: auto;
}

.profilecomponent .Profilehomepage {
    background-color: var(--bg3);
    width: 28%;
    height: 94vh;
}

.profilecomponent .Profilehomepage .profilecard {
    position: sticky;
    overflow: auto;
    margin-top: 2vh;
    height:94%;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    opacity: 1;
    animation: fadeIn 1.5s ;
}

.profilecomponent .Profilehomepage .profilesection {
    margin-inline: 1vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--border);

}

.profilecomponent .Profilehomepage .profilesection .header {
    width: 100%;
    height: 55%;
    border-radius: 10px;
    background: repeating-linear-gradient(45deg,
            #efefef,
            #efefef 10px,
            #444cf7 10px,
            #444cf7 20px);
}

.profilecomponent .Profilehomepage .profilesection .name {
    bottom: 1vh;
    position: absolute;
    text-align: center;
}


.profilecomponent .Profilehomepage .profilesection .username {
    text-transform: uppercase;
    font-size: 2.5vh;
}



.profilecomponent .Profilehomepage .profilesection .name .bio {
    font-size: 1.5vh;
    font-weight: 800;
    color: var(--c6);
}


.profilecomponent .Profilehomepage .profilesection .avatar {
    height: 12vh;
    border-radius: 50%;
    bottom: 8vh;
    position: absolute;
    text-align: center;
}
.profilecomponent .profilecard_navbar{
    margin-inline: 1vw;
    margin-top: 2vh;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.profilecomponent .profilecard_navbar_btn {
    padding: 15px;
    border-radius: 5px;
    margin-top: 1.5vh;
    outline: 0 !important;
    background: var(--bg);
    color: var(--c2);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--border);

}

.profilecomponent .profilecard_navbar_btn:active {
    box-shadow: none;
    border: 1px solid var(--border);
}

.profilecomponent .profilecard_navbar_btn_logout{
    margin-top: 32vh;
}
.profilecomponent .Profilehomepage .navbar_icon {
    margin-right: 8px; /* Space between the icon and text */
    vertical-align: middle; /* Aligns the icon with the text */
    font-size: 1.2em; /* Adjust icon size if necessary */
}
.profilecomponent .profilecard_navbar_btn_signin{
    margin-top: -1.7vh;
}




.profilecomponent .profileposts {
    width: 72%;
    height: 94vh;
}
.profilecomponent .profileposts .profilepostscontainer{
    position: relative;
    background-color: var(--bg);
    width: 96%;
    margin-inline: 2%;
    margin-block: 1%;
    height: 96%;
    border-radius: 15px;
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid var(--border);
}


.profilecomponent .profileposts .profilepostscontainer_loading{
    animation: fadeInOut 1.5s infinite;
    background-color: var(--bg3);
}


.profilecomponent .profileposts .profilepostscontainer .post_card .post_header .avatar {
    width: 9%;
    height: auto;
}

.profilecomponent .profileposts .profilepostscontainer .post_card .post_author_info {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.profilecomponent .profileposts .profilepostscontainer .post_card {
    margin-top: 2vh;
    width: 60%;
    margin-left: 20%;
    background-color: var(--bg);
    border-radius: 10px;
    opacity: 1;
    animation: fadeIn 1.5s;
    border: 1px solid var(--border);

}


.profilecomponent .profileposts .profilepostscontainer .post_card .avatar{
    cursor:auto ;

}

.profilecomponent .profileposts .profilepostscontainer .post_card .author_name{
    cursor: auto;

}


.profilecomponent .profileposts  .profilepostscontainer .posttext{
    font-size: 1.5vh;
    color: var(--c6);
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    position: fixed;
    cursor: pointer;
}









@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}