/* From Uiverse.io by akshat-patel28 */
.registerform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 94vh;
    background-color: var(--bg);
    font-family: "Poppins", sans-serif;
}

.registerform .form-container {
    width: 350px;
    height: 500px;
    background-color: var(--bg);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerform .title {
    margin: 10px 0 40px 0;
    font-size: 28px;
    font-weight: 800;
}

.registerform .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.registerform .input {
    border-radius: 5px;
    border: 1px solid var(--bg2);
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.registerform .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: var(--c2);
    text-decoration-color: var(--c2);
}

.registerform .page-link-label {
    cursor: pointer;
    font-size: 9px;
    font-weight: 700;
}

.registerform .page-link-label:hover {
    color: #000;
}

.registerform .form-btn {
    padding: 15px 15px;
    border-radius: 5px;
    border: 0 !important;
    outline: 0 !important;
    background: var(--c2);
    color: var(--bg);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.registerform .form-btn:active {
    box-shadow: none;
}

.registerform .sign-up-label {
    margin: 0;
    font-size: 10px;
    color: var(--c3);
}

.registerform .sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: var(--c2);
    color: var(--c2);
    cursor: pointer;
    font-weight: 800;
}

.registerform .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}


/* Error message */
.error-message {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Success message */
.success-message {
    color: green;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}